// based on https://next.material-ui.com/components/app-bar
// used for a simple wrapper around SearchIcon
.search-icon-button {
    color: inherit;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
