.DisciplinaCard {
    min-width: 275;

    .Code {
        font-size: 14pt;
    }

    .Requisitos {
        margin-top: 2ex;
    }

    .RequisitoBtn {
        width: 12ex;
        margin-inline-end: 5pt;


        &.Partial::before {
            content: '*';
            position: relative;
            left: -1ex;
        }
    }

    .MuiButtonBase-root:disabled {
        color: 'blue';
    }
}
