.app-bar-box {
    flex-grow: 1;

    // simple flexbox with justified content
    @mixin header-box($position) {
        display: flex;
        flex-grow: 1;
        width: 100%;
        justify-content: $position;
    }

    .header-box-left {
        @include header-box(left)
    }

    .header-box-center {
        @include header-box(center)
    }

    .header-box-right {
        @include header-box(right)
    }
}
